.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.navBar{
    height: 50px;
    background-color: rgb(59, 59, 235);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link{
    color: aliceblue;
    margin-right: 15px;
}